---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/layout/Header.astro";
import BlogSearch from "../../components/blog/BlogSearch";
import { getCollection } from "astro:content";
import BackgroundEffects from "../../components/layout/BackgroundEffects.astro";

const posts = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
});

const sortedPosts = posts.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

const tagFrequency: Record<string, number> = {};
posts.forEach((post) => {
    post.data.tags.forEach((tag) => {
        tagFrequency[tag] = (tagFrequency[tag] || 0) + 1;
    });
});
---

<BaseLayout title="Blog - Brian Matthews">
    <Header />

    <BackgroundEffects />

    <main>
        <BlogSearch
            client:load
            posts={sortedPosts}
            tagFrequency={tagFrequency}
        />
    </main>
</BaseLayout>

<style>
    main {
        position: relative;
        z-index: 1;
        padding: 6rem 1.25rem 2rem;
        max-width: 680px;
        margin: 0 auto;
        font-family: var(--font-mono);
    }
</style>
